

// Font 
font-mono = din, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif
font-icon = iconfont
font-icon-path = "fonts/iconfont/iconfont"
font-size = 16px
//line-height = 1.6em
//line-height-title = 1.1em

//sidebar 
//sidebar = hexo-config('sidebar.enable')