.wrapper {
    max-width: 800px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto
}

.wrapper--wide {
    max-width: 940px
}

.mb\\+ {
    margin-bottom: 60px !important;
}

.mb\\+\\+ {
    margin-bottom: 120px !important
}

.posts-list.posts-list--small {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 20px
}

.posts-list h2 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 7px
}

.posts-list a {
    color: inherit;
}

.posts-list > li {
    list-style: none;
    position: relative;
}

.posts-list > li ~ li {
    padding-top: 30px;
    margin-top: 30px;
}

.posts-list > li time {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #777;
}

.post-status {
    font-size: 28px;
    line-height: 1;
    float: left;
    margin-left: -40px;
    margin-top: 0px;
    color: #666666;
}

.post-status.post-status--large {
    font-size: inherit;
    margin-left: -40px;
    margin-top: 10px;
    color: #ddd
}

.post-status.fa-lock {
    color: #ccc
}

h2.no-background {
    position: relative;
    overflow: hidden
}

h2.no-background span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    position: relative;
    padding: 0 10px 0 0
}

h2.no-background span:after {
    content: '';
    display: block;
    width: 800px;
    position: absolute;
    top: .73em;
    border-top: 1px solid #eee
}

h2.no-background span:after {
    left: 100%
}

.post-time {
    max-width: 50%;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding-left: 10px
}

.mask {
    cursor: text;
    width: 50px;
    height: 50px;
    background: rgba(240, 240, 240, 1);
    background-size: cover;
    background-position: center;
    position: relative;
    float: left;
    border-radius: 50%;
    margin: 0 10px 0 0
}

.type i {
    position: absolute;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    color: rgba(0, 0, 0, .5);
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 255, 255, .5);
}

.type i:hover {
    color: rgba(0, 0, 0, .3);
}

/* pagination */
.pagination{text-align:center;width:150px;margin:0 auto;}
.pagination i { font-size: 40px;}



