
@media screen and (max-width:719px) {
    .fat-footer .yc {
        display: none;
    }
    #social-share {
        display: none;
    }
    .comments-list .children li {
        padding-left: 20px
    }
    h2.no-background span {
        width: 140px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
@media screen and (max-width:719px) {
    .fat-footer__social {
        text-align: center
    }
    .post-status {
        font-size: 40px;
        margin-left: 5px;
        margin-top: -40px
    }
    .linkpage ul li ul li {
        width: 100% !important
    }
    .linkpage ul li ul li a {
        width: 100% !important;
        margin-left: 0px !important
    }
    .chat_content .bub {
        width: 90% !important
    }
    #social-share {
        float: none!important;
        margin: 0 auto!important
    }
    .btn-slide {
        float: none!important;
        text-align: center;
        margin-top: 10px
    }
}
article .post-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative
}

article .post-title:after {
    content: '';
    border-top: 1px solid #EEE;
    width: 120px;
    position: absolute;
    left: 0;
    bottom: -20px
}

article .post-title a {
    font-size: 32px;
    font-size: 2rem;
    line-height: 42px;
    font-weight: 300;
    color: #444;
    text-decoration: none
}

article .post-title a:hover {
    text-decoration: none
}

article .outer{
	zoom:1;
}

article .outer :after {
	clear:both;content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}

article .post-author{
	height:30px;
	margin-top:10px;
}

article .post-author a{
	display:inline-block;
	float:right;
	text-decoration:none;
}

.mb {
    margin: 30px 0 !important
}

article .post-body p {
    font-size: 15px;
    line-height: 27px;
    color: rgba(2, 0, 0, .6);
}

article .post-body >:last-child {
    margin-bottom: 0
}

article .post-body img {
    max-width: 100%;
    height: auto
}

article .post-body p {
    margin-bottom: 30px
}

article .post-body p + h1,
article .post-body p + h2,
article .post-body p + h3,
article .post-body p + h4,
article .post-body p + h5,
article .post-body p + h6 {
    margin-top: 40px;
    margin-bottom: 30px
}

article .post-body h2 {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 40px
}

article .post-body h2 {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 37px
}

article .post-body h3 {
    font-size: 20px;
    line-height: 34px;
    color: #aaa;
    display: table;
    white-space: nowrap;
    border-spacing: 20px 0
}

article .post-body h3:before,
article .post-body h3:after {
    content: "";
    display: table-cell;
    width: 50%;
    background: -webkit-linear-gradient(#eee, #eee) repeat-x left center;
    background: -moz-linear-gradient(#eee, #eee) repeat-x left center;
    background: -ms-linear-gradient(#eee, #eee) repeat-x left center;
    background: linear-gradient(#eee, #eee) repeat-x left center;
    background-size: 1px 1px
}

article .post-body h4 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 28px
}

article .post-body h5,
article .post-body h6 {
    text-transform: uppercase
}

article .post-body ul,
article .post-body ol {
    font-size: 15px;
    padding: 5px 20px;
    list-style: none;
    border-radius: 3px
}

article .post-body ul li,
article .post-body ol li {
    font-size: 15px;
    padding: 10px 0 10px 25px;
    list-style-type: none;
}

article .post-body ul li:before,
article .post-body ol li:before {
    float: left;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -25px;
    color: #ddd
}

article .post-body ul li:before {
    color: #efefef;
    font-size: 11px;
    font-size: 0.6875rem;
    content: "\e60d";
    font-family: iconfont
}

article .post-body ol {
    counter-reset: ol-counter
}

article .post-body ol li:before {
    content: counter(ol-counter) ".";
    counter-increment: ol-counter
}
article .post-body blockquote {
    font-size: 18px;
    font-size: 1rem;
    line-height: 36px;
    font-weight: 300;
    color: #aaa;
    padding-left: 55px;
    margin-bottom: 30px;
    position: relative
}

article .post-body blockquote:last-child {
    margin-bottom: 0
}

article .post-body blockquote:before {
    font-size: 60px;
    font-size: 3.5rem;
    content: '\201C';
    color: #ddd;
    font-family: Georgia, "Times New Roman", Times, serif;
    position: absolute;
    top: 15px;
    left: 10px
}


.meta,
.post-date {
    font-size: 13px;
    color: #ccc;
    text-transform: uppercase;
    margin-bottom: 30px
}

.meta time,
.post-date time {
    letter-spacing: 1px
}

.meta a,
.post-date a {
    margin-right: 5px;
    color: #ccc
}

#bigTriangleColor {
    display: block;
    background: #fafafa
}

#bigTriangleColor path {
    fill: #fff;
    stroke: #fff
}

svg:not(:root) {
    overflow: hidden
}






