
@media screen and (max-width:719px) {
    .palm-m {
        margin: 30px !important
    }
    .palm-mt {
        margin-top: 30px !important
    }
    .palm-mr {
        margin-right: 30px !important
    }
    .palm-mb {
        margin-bottom: 30px !important
    }
    .palm-ml {
        margin-left: 30px !important
    }
    .palm-mh {
        margin-right: 30px !important;
        margin-left: 30px !important
    }
    .palm-mv {
        margin-top: 30px !important;
        margin-bottom: 30px !important
    }
}

@media screen and (min-width:720px) and (max-width:1023px) {
    .lap-m {
        margin: 30px !important
    }
    .lap-mt {
        margin-top: 30px !important
    }
    .lap-mr {
        margin-right: 30px !important
    }
    .lap-mb {
        margin-bottom: 30px !important
    }
    .lap-ml {
        margin-left: 30px !important
    }
    .lap-mh {
        margin-right: 30px !important;
        margin-left: 30px !important
    }
    .lap-mv {
        margin-top: 30px !important;
        margin-bottom: 30px !important
    }
}

@media screen and (min-width:720px) {
    .lap-and-up-m {
        margin: 30px !important
    }
    .lap-and-up-mt {
        margin-top: 30px !important
    }
    .lap-and-up-mr {
        margin-right: 30px !important
    }
    .lap-and-up-mb {
        margin-bottom: 30px !important
    }
    .lap-and-up-ml {
        margin-left: 30px !important
    }
    .lap-and-up-mh {
        margin-right: 30px !important;
        margin-left: 30px !important
    }
    .lap-and-up-mv {
        margin-top: 30px !important;
        margin-bottom: 30px !important
    }
}

@media screen and (max-width:1023px) {
    .portable-m {
        margin: 30px !important
    }
    .portable-mt {
        margin-top: 30px !important
    }
    .portable-mr {
        margin-right: 30px !important
    }
    .portable-mb {
        margin-bottom: 30px !important
    }
    .portable-ml {
        margin-left: 30px !important
    }
    .portable-mh {
        margin-right: 30px !important;
        margin-left: 30px !important
    }
    .portable-mv {
        margin-top: 30px !important;
        margin-bottom: 30px !important
    }
}

@media screen and (min-width:1024px) {
    .desk-m {
        margin: 30px !important
    }
    .desk-mt {
        margin-top: 30px !important
    }
    .desk-mr {
        margin-right: 30px !important
    }
    .desk-mb {
        margin-bottom: 30px !important
    }
    .desk-ml {
        margin-left: 30px !important
    }
    .desk-mh {
        margin-right: 30px !important;
        margin-left: 30px !important
    }
    .desk-mv {
        margin-top: 30px !important;
        margin-bottom: 30px !important
    }
}


.fat-footer {
    background: #fafafa;
    padding-bottom: 60px;
    padding-top: 60px
}

.fat-footer h4 {
    font-size: 15px;
    font-weight: normal;
    position: relative;
    margin-bottom: 30px;
}

.fat-footer h4:after {
    content: '';
    border-top: 3px solid #eee;
    width: 30px;
    position: absolute;
    bottom: -20px;
    left: 0
}

.layout {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -20px
}

.layout__item {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 100%
}

.layout__item>.media{
    width: 80%;
}

.layout--force .layout__item {
    float: left
}

.media {
    display: block
}

.media__img {
    float: left;
    margin-right: 30px
}

.media__img > img {
    display: block
}

.media__body {
    width: 60%;
    overflow: hidden;
    display: block
}

.media__body,
.media__body >:last-child {
    margin-bottom: 0
}

.media--small > .media__img {
    margin-right: 15px
}

.clearfix:after,
.box:after,
.media:after,
.split:after,
.layout--force:after {
    content: "";
    display: table;
    clear: both
}

.media__body {
    width: 60%;
    overflow: hidden;
    display: block
}

.media__body,
.media__body >:last-child {
    margin-bottom: 0
}


.headimg{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 50%;
    margin-right: 30px;
}

.site-description{
    font-size: 15px;
    line-height: 27px;
    color: rgba(2, 0, 0, .6);
}

.author-contact{
    width: 20%;
    display: inline-block;
    float: right;
    margin-top: -50px;
}

.author-contact ul{
    list-style: none;
}

.author-contact ul li{
    display: inline-block;
}

.author-contact ul li i{
    font-size: 35px;
    color: #888;
    margin: 0 5px;
}






